<h2 align="center" style="color:blue">Codebasics Python Course: Exercise - List, If Condition, For Loop</h2>

### Task 1

1. You are a Marvel fan and created a list of superheroes.

```py
avengers  = [‚ÄòIron Man‚Äô, ‚ÄòCaptain America‚Äô, ‚ÄòBlack Widow‚Äô, ‚ÄòHulk‚Äô, ‚ÄòThor‚Äô, ‚ÄòHawkeye‚Äô]
```

Using this list, calculate how many members in the Avengers team?

In [1]:
avengers  = ['Iron Man', 'Captain America', 'Black Widow', 'Hulk', 'Thor', 'Hawkeye']

In [3]:
# write your code here to print total number of members in avengers team
len(avengers)

6

### Task 2

Awesome. Now Iron Man made Spider-Man a new member of the Avengers, add him to your list at the end

In [19]:
# write your code here
avengers.append('Spider-Man')
avengers

['Iron Man',
 'Black Widow',
 'Hulk',
 'Thor',
 'Hawkeye',
 'Spider-Man',
 'Spider-Man',
 'Spider-Man',
 'Spider-Man']

### Task 3

Looks like you are loving this avengers exercise alreadyüòÑ, Let's add a twist to it. Everyone came to a conclusion that Captain America is the leader of the Avengers, so please add him before the Iron Man. Hint: You can first remove him from the list and add before the Iron Man. To remove him you can use a method called .pop()

üí° Feel free to take help of ChatGPT just in case you are confused about pop() method. Remember becoming a good Python programmer is all about how well you can learn new things on your own

In [28]:
# write your code here



avengers.insert(0,'Captain America')
avengers

['Captain America',
 'Captain America',
 'Iron Man',
 'Black Widow',
 'Hulk',
 'Thor',
 'Hawkeye',
 'Spider-Man',
 'Spider-Man',
 'Spider-Man',
 'Spider-Man']

### Task 4

Thor and Hulk are getting angry easily and fight with each other. So you have to separate them with each other. To separate them, move ‚ÄúBlack Widow‚Äù in between them.

In [5]:
# write your code here

### Task 5

Below list contains scores of students in a class as per their roll number. Which means the first element is for roll # 1, second one is for roll # 2 and so on. Print the scores of,

1. The first student
1. The last student
1. First 3 students
1. Scores of roll # 3, 4 and 5

In [30]:
scores = [92, 85, 76, 58, 89, 91, 73, 84]

In [32]:
# score of the first student
scores[0]

92

In [34]:
# score of the last student
scores[7]

84

In [44]:
# scores of the first 3 students
scores[0:3]

[92, 85, 76]

In [46]:
# scores of roll # 3, 4 and 5
scores[2:5]

[76, 58, 89]

### Task 6

We got a result of one more student which is 83 marks. Append this to the ```scores``` at the end and print the list

In [48]:
# write your code here
scores.append(83)
scores

[92, 85, 76, 58, 89, 91, 73, 84, 83]

### Task 7

Categorizes each score into a grade based on the following thresholds:

1. A: 90 to 100
1. B: 80 to 89
1. C: 70 to 79
1. D: 60 to 69
1. F: Below 60

Count the number of students in each grade category and print the summary of how many students received each grade. 

Expected output

```
Grade Summary:
- A: 2 students
- B: 4 students
- C: 2 students
- D: 0 students
- F: 1 students
```

In [74]:
# write your code here
marks=int(input('Enter the marks:'))
if  90  <= marks <= 100:
    print('A Grade')
elif 80 <= marks <= 90:
    print('B Grade')
elif 70 <= marks <= 80:
    print('C Grade')
elif 60 <= marks <=70:
    print('D Grade')
elif  60 > marks:
    print('F Grade')
else:
    print('Error')

Enter the marks: 87

B Grade

### Task 8

Managing inventory efficiently is crucial for businesses to ensure they do not run out of key products. This exercise simulates a simple inventory management system where the user can see which items are below the minimum stock level and need reordering. Below you have two lists that stores product names and their inventory stock levels.Using that,

1. Check each item to see if its stock level is below a minimum threshold.
1. If the stock level is below the minimum, add the product's name to a reorder list.
1. Print a list of products that need to be reordered.

Expected Output
```
Items to Reorder:
- Pears
- Grapes
```

In [78]:
# Lists to store product names and stock levels
product_names = ["Apples", "Bananas", "Oranges", "Pears", "Grapes"]
stock_levels = [20, 50, 15, 5, 8]

minimum_stock = 10  # Minimum stock before reordering

In [82]:
# write your code here
product_names = ["Apples", "Bananas", "Oranges", "Pears", "Grapes"]
stock_levels = [20, 50, 15, 5, 8]

minimum_stock = 10 

reorder_list=[]

for i in range(len(product_names)):
    if stock_levels[i] < minimum_stock:
        reorder_list.append(product_names[i])



print('items to Reorder')
for product in reorder_list:
    print(f'- {product}')

items to Reorder
- Pears
- Grapes